doctype html
html.
    <head>
    <link rel="stylesheet" href="/stylesheets/circularAudioPlayer.css">
    </head>
    <body>
    <div class="customCircularAudioPlayer">
    <svg>
        <circle cx="35" cy="35" r="35"></circle>
        <circle cx="35" cy="35" r="35"></circle>
    </svg>
    <div class="play-pauseIconDiv">
        <i class="material-icons play-pauseIcon">play_arrow</i>
    </div>

    </div>
    </body>
