doctype html
html.
    <head>
        <link rel="stylesheet" href="/stylesheets/homePage_header_banner.css">
    </head>
    <body>
        <div id="header_imageBanner">
            <figure>
                <img src="/image/getImage/HomePage_Theme2">
                <img src="/image/getImage/HomePage_Theme3">
                <img src="/image/getImage/HomePage_Theme4">
                <img src="/image/getImage/HomePage_Theme5">
                <img src="/image/getImage/HomePage_Theme2">
            </figure>
        </div>
    </body>