extends layout

block content
    h1= title
    script(src='/javascripts/homePage.js')    
    //- div(class='bckground')
    include homePage_header_banner
    br
    div(class="slider"  id="slider1")
       h5.sliderTitle Bollywood Songs
       hr.hr
       p(class="next"  onclick="changeslide(1)") &#10095
       p(class="prev"  onclick="changeslide(-1)") &#10094
    div(class="slider"  id="slider3")
       h5.sliderTitle English Songs
       hr.hr
       p(class="next2"  onclick="changeHollySlide(1)") &#10095
       p(class="prev2"  onclick="changeHollySlide(-1)") &#10094	
    br
    div(class="slider" id="playlistContainer")
      h5.sliderTitle Playlists
      hr.hr       
      div(class="playlist" id="B-Latest")
        img(src="/image/getImage/Top10SongsOfWeek" class="imgslider")
        a(href="/playlist/bollyHotReleases" class="playlistTitle") Bollywood Hot Releases
      div(class="playlist" id="B-Top")
        img(src="/image/getImage/Top20TrendingSongs" class="imgslider")
        a(href="/playlist/bollytop" class="playlistTitle") Bollywood Top Hits  
      div(class="playlist" id="H-Top") 
        img(src="/image/getImage/InternationalTop10Songs" class="imgslider")
        a(href="#" class="playlistTitle") International Hot Releases
    br
    br    
    // Wrapper
    #wrapper
  
      // USER LIST
      h2 Songs
      #audioList
         table(class='table table-dark table-hover')
           thead
            th Song
            th Delete
           tbody  
      // /USER LIST

    // /WRAPPER
    h5
      a(href='/audio/addAudio' target='_blank') Add more songs
      a(href='/image/addImage' target='_blank') Add Images	
    br
    br
    br
    div.footer Developed By : Yashsva Sisodiya	
    audio(controls onended="changeAudio(1);changePlayPauseIcon(0)" onpause="changePlayPauseIcon(0)" oncanplaythrough="canplaythrough();changePlayPauseIcon(1)")#audioPlayer
      source(src='' type='audio/mpeg' id='audioSource')
    div(id="custom-audioPlayer")
        p(id="player-TrackName" class="customAudioPlayer") hello
        i(id="prevSongButton" class="material-icons customAudioPlayer" ) skip_previous
        i(id="play-pause" class="material-icons customAudioPlayer" ) play_circle_filled 
        i(id="nextSongButton" class="material-icons customAudioPlayer" ) skip_next
    include circularAudioPlayer    