doctype html
html
  head
    title= title
    meta(name="theme-color" content="#161625")
    meta(name='viewport' ,content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/customPlayer.js')      
  body.body(onresize="initialSlider();initialHollySlider()")
    block content   