doctype html
html
  head
    title= title
    meta(name="theme-color" content="#000000")
    meta(name='viewport' ,content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/playlist.css')
  body.body
    block content
    h1= title
    h3 Bollywood Top Hits
    ul(class='playlist_list')
    div.footer Developed By : Yashsva Sisodiya	
    audio(controls onended="changeAudio(1);changePlayPauseIcon(0)" onpause="changePlayPauseIcon(0)" oncanplaythrough="canplaythrough();changePlayPauseIcon(1)")#audioPlayer
      source(src='' type='audio/mpeg' id='audioSource')
    div(id="custom-audioPlayer")
        p(id="player-TrackName" class="customAudioPlayer") hello
        i(id="prevSongButton" class="material-icons customAudioPlayer" ) skip_previous
        i(id="play-pause" class="material-icons customAudioPlayer" ) play_circle_filled 
        i(id="nextSongButton" class="material-icons customAudioPlayer" ) skip_next       
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/customPlayer.js')
    script(src='/javascripts/Playlist-BollywoodTop.js')
    include circularAudioPlayer    
    
