doctype html       
html.
	<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body class="body">
	<h1>Hello,Brother</h1>
	</body>