.customCircularAudioPlayer {
    right: 10px;
    bottom: 10px;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 5px 20px #03e9f4;
    background: #1f0101;
    z-index: 1000;
}

svg {
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 1000;
    /* background: #1f0101; */
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #00a3ff;
    stroke-width: 4;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    stroke: red;
    transform: rotate(-90deg) translate(5px, 5px);
    transform-origin: 50% 50%;
}

.customCircularAudioPlayer .play-pauseIconDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1000;
}

.customCircularAudioPlayer .play-pauseIconDiv .play-pauseIcon {
    
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
    -moz-user-select: none;
    user-select: none;
    color: #64c6fe;
}

.customCircularAudioPlayer:hover .play-pauseIconDiv .play-pauseIcon {
    color: red;
    font-size: 50px;
}

.customCircularAudioPlayer:hover {
    box-shadow: 0 5px 20px #ff1e1e;
}