body {
    margin: 0;
    padding: 0;
    background: #313131;
}

#header_imageBanner {
    overflow: hidden;
    box-shadow: inset 0px 0px 10px 3px black,0px 5px 30px black;
    height:350px;
}

#header_imageBanner figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    z-index: -1;
    animation: 15s slideshow infinite;
}

#header_imageBanner figure img {
    width: 20%;
    float: left;
    height: 350px;
    /* box-shadow: -20px 0px 35px -5px black; */
}

@keyframes slideshow {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}
@media screen and (max-width:600px)
{
    #header_imageBanner figure img {
        width: 20%;
        float: left;
        height: 200px;
    }
}